<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>DulciMudanzas</title>
    <link rel="icon" type="image/png" href="../images/ico.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	<link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div class="container">
        <header>
            <nav class="header__nav w-120">
                <div class="header__logo">
                    <img src="../images/ico.png" alt="Logo">
                </div>
                <div class="header__nav__content">
                    <div class="nav-close-icon"></div>
                    <ul class="header__menu">
                        <li class="menu__item">
                            <a href="#" class="menu__link active">Home</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Producto</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Contacto</a>
                        </li>
                    </ul>
                    <div class="header__signup">
                        <a href="#" class="btn btn__signup">
                            <i class="fas fa-user-plus"></i> Registrarse
                        </a>
                    </div>
                </div>


            </nav>
        </header>

        <section class="hero w-120">
            <div class="hero__content">
                <div class="hero__text">
                    <h1 class="hero__title">Servicio de mudanzas y domicilios</h1>
                    <p class="hero__description">
                        Te llevamos tu encomienda a cualquier parte del pais
                    </p>
                    <a href="#" class="btn btn__hero">Contactanos</a>
                </div>
                <div class="hero__img">
                    <img height="430px" src="../images/mov.jpg" alt="">
                </div>
            </div>
        </section>



        <section class="invest  w-105">
            <div class="invest__content">
                <div class="invest__head">
                    <h2 class="invest__title">Cuidamos tus productos con la mejor atencion!</h2>
                    <p style="font-family: 'Poppins';" class="invest__description">Hacer una mudanza nunca es tan facil en DulciMudanzas! ofrecemos servicios de mudanza profesionales y confiables para que tu traslado sea una experiencia sin estres. Ya sea para que te mudes a una nueva casa, oficina o incluso a otro pais, nuestro equipo esta aqui para ayudarte en cada paso del camino.</p>
                </div>
                <div class="invest__body">
                    <div class="invest__item">
                        <div class="invest__item__head">

                            <h5 class="invest__item__subtitle"></h5>

                        </div>

                        <div class="invest__item__body">

							

                            <h4 class="invest__item__title"><br><br><br></h4>
                            <p class="invest__item_description">
                            </p>
                        </div>
                        <div class="invest__item__footer">
                            <a href="#" class="btn btn__invest">Mudanza familiar</a>
                        </div>
                    </div>
					
                    <div class="invest__item">

                        <div class="invest__item__head">

                            <h5 class="invest__item__subtitle"></h5>

                        </div>
                        <div class="invest__item__body">

							

                            <h4 class="invest__item__title"><br><br><br></h4>
                            <p class="invest__item_description">
                            </p>
                        </div>
                        <div class="invest__item__footer">
                            <a href="#" class="btn btn__invest">Servicios y otros</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       



        <section class="farm-invest w-105">
            <h2 class="farm-invest__title">Solicita tu <span>presupuesto</span> gratuito hoy mismo y descubre como podemos hacer que tu mudanza sea un exito</h2>
            <a href="#" class="btn btn__farm--invest">Solicitar</a>

        </section>

        <footer class="footer">
            <div class="footer__body w-105">
                
                <div class="footer__contact">
                    <h5 class="footer__contact__title">DulciMudanzas</h5>
                    <span>Escribenos al</span>
                    <a href="mailto:info@zoufarm.com" class="email">dulcimudanzas@gmail.com</a>
                    <a href="#" class="btn btn__signin">
                        <i class="far fa-user"></i> Inicia sesion
                    </a>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom__content w-105">
                    <div class="footer__logo">
                        <img src="../images/ico.png" height="80px" alt="Logo">
                    </div>
                    <p class="footer_copyright">
                        © Copyright 2024. by Vicente.
                    </p>
        </footer>
</html>